footer.page-footer.text-center.text-md-left.pt-0
  
  div
    .elegant-color
        .container
            .row.py-4.d-flex.align-items-center
                // Grid column
                .col-md-6.col-lg-5.text-center.text-md-left.mb-4.mb-md-0
                  h6.mb-0.white-text Get connected with us on social networks!
                // Grid column
                // Grid column
                .col-md-6.col-lg-7.text-center.text-md-right
                  // Facebook
                  a.fb-ic.ml-0.px-2
                    i.fab.fa-facebook-f.white-text  
                  // Twitter
                  a.tw-ic.px-2
                    i.fab.fa-twitter.white-text  
                  // Google +
                  a.gplus-ic.px-2
                    i.fab.fa-google-plus-g.white-text  
                  // Linkedin
                  a.li-ic.px-2
                    i.fab.fa-linkedin-in.white-text  
                  // Instagram
                  a.ins-ic.px-2
                    i.fab.fa-instagram.white-text  
                // Grid column
                // Grid row
                // Footer Links  
    .elegant-color-dark            
        .container.pt-5.pb-4.text-center.text-md-left
          .row.mt-3
            // First column
            .col-md-3.col-lg-4.col-xl-3.mb-4
              h6.text-uppercase.font-weight-bold
                strong AbuzGroup
              hr.blue.mb-4.mt-0.d-inline-block.mx-auto(style='width: 60px;')
              p
                | Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit amet, consectetur
                | adipisicing elit.
            // /.First column
            // Second column
            .col-md-2.col-lg-2.col-xl-2.mx-auto.mb-4
              h6.text-uppercase.font-weight-bold
                strong Products
              hr.blue.mb-4.mt-0.d-inline-block.mx-auto(style='width: 60px;')
              p
                a(href='#!') AbuzMarket
              p
                a(href='#!') AbuzCoder
              p
                a(href='#!') AbuzSocial
              p
                a(href='#!') AbuzTensor
            // /.Second column
            // Third column
            .col-md-3.col-lg-2.col-xl-2.mx-auto.mb-4
              h6.text-uppercase.font-weight-bold
                strong Useful links
              hr.blue.mb-4.mt-0.d-inline-block.mx-auto(style='width: 60px;')
              p
                a(href='#!') Your Account
              p
                a(href='#!') Become an Affiliate
              p
                a(href='#!') Shipping Rates
              p
                a(href='#!') Help
            // /.Third column
            // Fourth column
            .col-md-4.col-lg-3.col-xl-3
              h6.text-uppercase.font-weight-bold
                strong Contact
              hr.blue.mb-4.mt-0.d-inline-block.mx-auto(style='width: 60px;')
              p
                i.fas.fa-home.mr-3
                | Toshkent. birlik-19
              p
                i.fas.fa-envelope.mr-3
                |  abuzmarket@gmail.com
              p
                i.fas.fa-phone.mr-3
                |  + 998 99 012 74 27
              p
                i.fas.fa-print.mr-3
                |  + 998 99 829 44 21
            // /.Fourth column
            // /.Footer Links
            // Copyright
            .footer-copyright.py-3.text-center
              .container-fluid
                | © 2019 Copyright: 
                a(href='http://142.93.238.175/', target='_blank')  AbuzCoder.com 
            // /.Copyright
