@import 'fonts.css';
@import 'all.css';
@import './particles/navbar.scss';
@import './section/index.scss';
@import './section/regis.scss';
@import './admin/admin.scss';


*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body{
  background:#0f0e0e;
  font-family:'Poppins';
}


a{
  color: #00B7FF
}
