.sectionCards{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    .slider_arrowers{
        &.prev{
            transform: translateX(30px);

        }
        &.next{
            transform: translateX(-30px);
        }
        min-width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba($color: #000000, $alpha: 1.0);
        cursor: pointer;
        transition: 0.5s;
        &:hover{
            i{
                color:#fbff01 !important;
            }
            background: rgba($color: #000c2c, $alpha: 0.7);
        }
    }
    .slick-list{
        overflow: hidden;
        margin: 0 50px;
        .slick-track{
            display: flex;
            .slick-item{
                margin:0 15px ;
            }
        }
    }
}