// Card
.card.card-cascade.wider
  // Card image
  .view.view-cascade.overlay
    img.card-img-top(src='https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg', alt='Card image cap')
    a(href='#!')
      .mask.rgba-white-slight
  // Card content
  .card-body.card-body-cascade.text-center
    // Title
    h4.card-title
      strong My adventure
    // Subtitle
    h6.font-weight-bold.indigo-text.py-2 Photography
    // Text
    p.card-text
      
    // Linkedin
    a.px-2.fa-lg.li-ic
      i.fab.fa-linkedin-in
    // Twitter
    a.px-2.fa-lg.tw-ic
      i.fab.fa-twitter
    // Dribbble
    a.px-2.fa-lg.fb-ic
      i.fab.fa-facebook-f
// Card
