.card.card-ecommerce
  // Card image
  .view.overlay
    img.img-fluid(src='https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg', alt='')
    a
      .mask.rgba-white-slight.waves-effect.waves-light
  // Card image
  // Card content
  .card-body
    // Category & Title
    h5.card-title.mb-1
      strong
        a.dark-grey-text(href='') Asus CT-567
    span.badge.badge-danger.mb-2 bestseller
    // Rating
    ul.rating
      li
        i.fas.fa-star.blue-text
      li
        i.fas.fa-star.blue-text
      li
        i.fas.fa-star.blue-text
      li
        i.fas.fa-star.blue-text
      li
        i.fas.fa-star.blue-text
    // Card footer
    .card-footer.pb-0
      .row.mb-0
        span.float-left
          strong 1439$
        span.float-right
          a(data-toggle='tooltip', data-placement='top', title='', data-original-title='Add to Cart')
            i.fas.fa-shopping-cart.ml-3
  // Card content
