@import '../particles/slider.scss';

section.index{
    h1{
      color:white;
    }
    .swiper-container {
      width: 100%;
      height: auto;
      border-radius: 15px;
      .swiper-button-next,.swiper-button-prev{
        width:50px;
        height: 50px;
        background: rgba(83, 83, 83, 0.575);
        border-radius:50%;
        transition: 0.3s;
        &:hover{
          background: rgba(83, 83, 83, 0.75);
        }
        &:hover::after{
          color:rgb(252, 182, 53);
        }
        &::after{
          transition: 0.3s;
          color:white;
          font-size:20px;
        }
      }
      
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        border-radius: 15px !important;
        overflow: hidden;
        transform: scale(0.4)!important;
        transition: 1s all !important;
        &-active{
          transform: scale(1) !important;
        }
        // background: #fff;
        height:auto;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        img{
          max-width:100%;
          height:auto;
        }
      }
    }
    .list-group{
      .list-group-item{
        transition: 0.5s;
        background: #292929;
        a{
          color:#f7f7f7;
        }
        border-radius: 5px;
        &:hover{
          background:#333333;
        }
      }
    }
    .progress.md-progress{
      width: 105px !important;
      background: transparent;
      .gradientOverflow{
      justify-content: flex-start;
      flex-direction: row;
      align-items: center;
      background: transparent !important;
      .Textgradient{
        font-size: 18px;
        color:#ffd900;
        }
      }
    }
    .text-line-through{
      text-decoration:line-through;
      margin-left: 5px;
    }
    
  }