section.register{
    .card{
        .md-form{
            label{
                color:white;
            }
            
        }
        small{
            color:white !important;
        }
        p{
            color:white !important;
        }
    }
}